

.cover-domov {
	background: url('{{ site.baseurl }}/assets/images/atelje/DSC_7891.jpg') center center no-repeat fixed;
	background-size: 100% auto;
	color: $deepblue-color;
}

.centered {
  	display: table-cell;
  	text-align: center;
    vertical-align: middle;
}

.ime {
	font-family: 'Playfair display', sans-serif;
	color: $deepblue-color;
	text-align: left;
	position: relative;
}

.irena {
	font-size: 6em;
	margin-top: 4em;
	max-width: 100%;
	padding-left: 0.1em;
}

.irena-small {
	font-size: 3.5em;
	margin-top: 5em;
	padding: 0.2em;
}

.pod {
	font-family: 'Open Sans', sans-serif;
	color: $primary-color;
	text-align: right;
	font-weight: 300;
	max-width: 80%;
	padding-bottom: 50em;
}

.podnaslov {
	background-color: $off-white-color-trans;
	font-size: 1.8em;
	padding: 0.3em;
}

.podnaslov-small {
	background-color: $off-white-color-trans;
	font-size: 1.4em;
	padding: 0.1em;	
}