.ozadje-izdelki {
	background: url('/irena-cernovsek/assets/images/atelje/DSC_7905-2.jpg') no-repeat center right fixed;
	background-size: cover;
}

.cover-izdelki {
	margin-top: 7em;
	padding-bottom: 5em;
}

.col-md-6 {
	padding: 0.5em 1.5em 0.5em 1.5em;
}

.link-more {
	font-size: 0.5em;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: $terciar-color;
	font-weight: 300;
	margin: 45% auto;
	border: 0.1em solid $terciar-color;
	background-color: $off-white-color;
	text-decoration: none;
}

.izdelki {
padding: 0 2.5em;


	.link-izdelki {
		padding: 5em;
   	 	background-color: $primary-color;
    	z-index: 2;
    	padding: 3%;
    	border: solid 2em $off-white-color;

		h3 {
			padding: 0.8em 0.2em;
			font-size: 2em;
			font-weight: 300;
			width: 50%;
			margin: 0 auto;
			border: solid 0.1em white;
			color: $off-white-color;

			&:hover{
			background-color: $off-white-color;
			color: $primary-color;
			}
		}
	}	
}
