.ozadje-kontakt {
	background: url('/irena-cernovsek/assets/images/atelje/DSC_7894.jpg') no-repeat center center fixed;
	background-size: cover;
}

.cover-kontakt {
  	margin: 0 auto;
  	display: table;
  	padding: 5em 0 50em 0;
}

.circle-kontakt {
	display: inline-block;
	margin-top: 10em;
	margin-bottom: 16em;
	height: 22em;
	width: 22em;
	border-radius: 11em;
	-moz-border-radius: 11em;
	-webkit-border-radius: 11em;
	background-color: $off-white-color-trans;

	p {
		padding-top: 5.5em;
		font-size: 3em;
		color: $primary-color;
	}

&:hover {
	background-color: $off-white-color;
}
}