/* color */
$primary-color: rgba(112,24,4,1);
$primary-color-trans: rgba(112,24,4, 0.70);
$secondary-color: rgba(33,33,33,1);
$secondary-color-trans: rgba(33,33,33,0.8);
$terciar-color: rgba(183, 72, 38, 1);
$off-white-color: rgba(250, 232, 217, 1);
$off-white-color-trans: rgba(250, 232, 217, 0.6);
$deepblue-color: rgba(0, 9, 20, 1);
