.cover-o-ireni {
	margin-top: 7em;
	padding-bottom: 5em;
}

.opis {
	height: auto;
	background-color: rgba(33,33,33,1);
	margin: 1em 0;
}

.tekst {
	margin: 0 auto;
	padding: 1em;
	font-size: 1.2em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: white;
	width: 75%;
	line-height: 1.2;
}

.cover-o-ireni img {
	height: 25em;
	width: auto;
}