<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Irena Černovšek - unikatni izdelki iz gline in porcelana."
 />
	<meta property="og:title" content="Irena Černovšek - unikatni izdelki iz gline in porcelana."/>
	<meta property="og:description" content="Stvari so brez pomena, če jih oropamo zgodbe. So le oblike. Določene velikosti in barve. Pa teže. Ko pa enkrat izgubijo pomen, jim ne vemo več niti imena. Zgodba pa nikoli ne izgubi svojega prostora pod soncem, saj je sama svoj prostor."/>
	<meta property="og:image" content="{{ site.baseurl }}/og.jpg"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">	
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheet/css/styles.css"/>
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Open+Sans:400,300,300italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="{{ site.baseurl }}{{ post.url }}/assets/images/favicon.ico" type="image/x-icon" />
	<script src="{{ site.baseurl }}/assets/js/jquery-1.10.2.min.js"></script>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70615214-4', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
<section>

	{{ content }}
		
</section>
<footer>
	<a href="http://www.masacernovsek.si" target="_blank"><div class="footer">MČL</div></a>
	<a href=""><div class="footer">Foto:  Maja Dretnik</div></a>
</footer>
</body>
</html>